/**
	Navigation File

	01. Footer
	02. Copyright

 */
/* 01. Footer
   ==================================== */
footer {
  margin-top: -200px;
  padding-top: 210px;
  // min-height: 565px;
  background: url('../img/bg-footer.png') no-repeat;
  background-size: cover;
  z-index: 1;
  position: inherit;
}
footer ul li {
  line-height: 28px;
}
footer ul li a {
  color: $color01;
  font-size: 16px;
  font-weight: 600;
}
footer ul li a:hover {
  color: $color02;
}
footer .title {
  color: #100f45;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 22px;
  text-transform: uppercase;
}
footer .logo {
  padding-right: 0;
}
footer .logo img {
  max-width: 208px;
  margin-bottom: 22px;
}
footer .inside-column {
  padding-left: 100px;
}
footer .inside {
  padding-left: 60px;
}
footer .footer-menu-wrap {
  margin-bottom: 85px;
}
footer .footer-social-wrapper {
  padding-right: 71px;
}
.footer-social-wrapper {
  text-align: right;
}
.footer-social-wrapper img {
  max-width: 18px;
}
.footer-social-wrapper a {
  margin-right: 0;
}
.footer-social-wrapper a:not(:last-child) {
  margin-right: 14px;
}
.footer-social-wrapper a:hover svg path {
  fill: $color02;
}
/* 02. Copyright
   ==================================== */
.copyright {
  padding: 14px 0;
  background-color: #f1f5fb;
}
.copyright p {
  font-size: 14px;
  color: #9e9fb5;
  font-weight: 600;
}
