// =============
//      Colors
//      :Add website colors
// =============

$main-color: rgba(224, 255, 255, .48);

$color-gray-darkest  : #172133;
$color-gray-darker   : #35435C;
$color-gray-dark     : #647391;
$color-gray          : #8C99B8;
$color-gray-light    : #B4BFD9;
$color-gray-lighter  : #D7DDED;
$color-gray-ligtest  : #F3F5FA;
$black               : #000526;
$white               : #FFFFFF;

$color01: #3a3864;
$color02: #20add0;
$color03: #131149;
$color04: #f5f9fc;
$color05: #1c1b4e;

$color06: #706fa4;
$color07: #110f46;

$color08: #190a2e;
$color09: #281643;
$color10: #3b2a5a;
$color11: #1f0e36;
$color12: #321f52;

$color12: #FA4A6F;
$color13: #EF5395;
$color14: #DE4DCB;
$color15: #CE4CE6;

$color16: #20add0;

// =============
//      Font
//      :Change to your font
// =============
$main-font: Helvetica;



// =============
//      Media Queries breakpoints
// =============
$small-devices : 21.875em;
$medium-devices: 46.875em;
$large-devices : 62.500em;
$xlarge-devices: 81.250em;
