#alarmModalLabel.modal.fade(tabindex='-1', role='dialog', aria-labelledby='alarmModalLabel', aria-hidden='false')
  .modal-dialog.modal-lg.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h3#offlineModalLabel.modal-title 年齡驗證
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        ul
          li
            | 未滿18禁止瀏覽此網頁
 
