.banner.animatedParent
  .container
    .row.align-items-center
      .col-lg-6.col-12.animated.bounceInLeft
        .item
          .inside
            h1 PAO Token
            p PAO 解决了当今成人娱乐行业支付方式处理方法带来的问题，并开发了新的应用程式和入口平台，为必须匿名使用选项的消费者和商家提供解决方案。
            a.white-brd-btn(href='#whitepaper') 白皮书
      .offset-lg-1.col-lg-5.col-12.animated.bounceInRight.position-relative
        .countdown-wrapper
          .start-time 2018年5月20日 (UTC) 08:00 开始
          .countdown
            .title 预售倒数时间
            .inner
              .dd
                .counter 00
                .unit 天
              .hh
                .counter 00
                .unit 小时
              .mm
                .counter 00
                .unit 天
              .ss
                .counter 00
                .unit 秒
            a.white-brd-btn(href='#buy') 立即购买 PAO Token
          .progress-no
            .total
              span.unit ETH
              span.no 0.000
              .title 现在募集
          .progress-bar-wrapper
            .now
              span PAO
              span 0.000
            .target
              span PAO
              span 0.000
            .clearfix
            .bar
              .ico-progress
                .ico-progress-bar-bg
                .ico-progress-bar(style='width: 88%;')
              .percentage 88%
