doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='zh-CN'>
<!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Professional Adult Organzation TOKEN
    meta(name="description", content="解决了当今成人娱乐行业支付方式处理方法带来的问题，并开发了新的应用程式和入口平台，为必须匿名使用选项的消费者和商家提供解决方案")
    meta(name="author", content="JJ")
    meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")

    //- meta(property="og:title", content="| Website Title |")
    //- meta(property="og:url", content="| Website URL |")
    //- meta(property="og:image", content="| Link to img |")
    //- meta(property="og:description", content=" | Description |")

    link(rel="shortcut icon" href="favicon.ico")

    //- change address bar color for chrome on android devices
    //- meta(name="theme-color", content="| color theme |")

    //- Remove telephones formatfor IOS Devices
    //- meta(name="format-detection", content="telephone=no")

    link(href='https://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet')

    //- Framework Css
    link(rel='stylesheet', type='text/css', href='assets/vendors/bootstrap.min.css')
    //- Owl Carousel
    link(rel='stylesheet', type='text/css', href='assets/vendors/owl.carousel.min.css')
    //- Slick Carousel
    link(rel='stylesheet', type='text/css', href='assets/vendors/slick.css')
    //- Animation
    link(rel='stylesheet', type='text/css', href='assets/vendors/animations.min.css')

    link(rel="stylesheet", href="assets/css/main.css")
    //- link(rel="author", href="humans.txt")

body(data-scroll-animation="true", data-spy="scroll", data-target="#main-navbar")
  <!--[if lt IE 9]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  block content

  //- script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
  script(src='assets/vendors/jquery-2.2.0.js')
  script(src='assets/vendors/popper.min.js')
  script(src='assets/vendors/bootstrap.min.js')
  script(src='assets/vendors/owl.carousel.min.js')
  script(src='assets/vendors/masonry.pkgd.min.js')
  script(src='assets/vendors/slick.min.js')
  script(src='assets/vendors/css3-animate-it.js')
  script(src="assets/scripts/main.js")
