footer
  .container
    .row.footer-menu-wrap
      .col-xl-4.col-lg-4.col-md-4.col-12
        .logo
          a(href='/')
            img(src='http://via.placeholder.com/200x100/EF5395/FFFFFF?text=Logo', alt='images')
      .col-xl-3.col-lg-2.col-md-2.col-12
        .inside
          h4.title 购买
          ul.list-unstyled
            li
              a(href='https://cobinhood.com') Cobinhood
            li
              a(href='https://joyso.io') Joyso
      .col-xl-3.col-lg-2.col-md-2.col-12
        .inside
          h4.title 语系
          ul.list-unstyled
            li
              a(href='javascript:;') 中文
            li
              a(href='javascript:;') 繁中
            li
              a(href='javascript:;') English
      .col-xl-2.col-lg-3.col-md-2.col-12
        h4.title Contact
        ul.list-unstyled
          li: a(href='mailto:info@sweetangel.asia') info@sweetangel.asia
          li +123 456 789
  .copyright
    .container
      .row.align-items-center
        .col-md-12
          p
            | All right reserved
            =' '
            img.svg.social-link(src='assets/img/copyright.svg', alt='images')
            =' '
            | pao-token.io 2018.
