header#main-navbar
  .container
    .row.align-items-center
      .col-xl-3.col-lg-3.col-md-12
        a(href='index.html')
          img.logo(src='http://via.placeholder.com/200x60/EF5395/FFFFFF?text=Logo', alt='images')
      .col-xl-9.col-lg-9.col-md-12.text-right
        .header-block
          ul.nav-menu.list-unstyled.list-inline
            li.list-inline-item
              a(href="#advantage")
                span  代币应用
            li.list-inline-item
              a(href="#roadmap")
                span  发展路线
            li.list-inline-item
              a(href="#team")
                span  团队
            li.list-inline-item
              a(href="#ico")
                span  发行
            li.list-inline-item.top-sub-menu
              a(href="#buy")
                span 购买
              .sub-menu
                ul
                  li: a(href='https://cobinhood.com/home') Cobinhood
                  li: a(href='https://joyso.io') Joyso
            li.list-inline-item.top-sub-menu
              a(href="javascript:;")
                span 中文
              .sub-menu
                ul
                  li: a(href='javascript:;') 繁中
                  li: a(href='javascript:;') English
          .text-center
            a.white-brd-btn(href='#whitepaper') 白皮书
        button.mobile-btn
          span
