.container
  .row
    .col-xl-12
      .last-news-title-wrap.text-center
        .icon
          img(src='assets/img/news-icon.svg', alt='icon-phone')
        h2.h2-main Read our last news
      #news-owl-carousel.owl-carousel.news-owl-carousel
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 12/08
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma2(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma2')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 14/09
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma3(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma3')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 22/09
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma4(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma4')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 12/10
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma5(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma5')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 12/08
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma6(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma6')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 14/09
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma7(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma7')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 22/09
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma8(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma8')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 12/10
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma9(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma9')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 12/08
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma10(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma10')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 14/09
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma11(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma11')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 22/09
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma12(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma12')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 12/10
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma13(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma13')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 12/08
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma14(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma14')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 14/09
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma15(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma15')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 22/09
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma16(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma16')
          // ===================== End of Last News ========================
        .item
          // ===================== Last News ========================
          article.post
            .last-news-img-wrap
              img(src='assets/img/new-image1.jpg', alt='images')
            .last-news-info-wrap
              h4.last-news-date 12/10
              a(href='single-blog.html')
                h4.last-news-title Best Ways To Get Seller  Leads In 2017: Tips From ...
              a.read-more-btn(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='8', viewbox='0 0 11 8')
                  defs
                    path#zqnma17(d='M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z')
                  g
                    g(transform='translate(-236 -6198)')
                      use(fill='#20add0', xlink:href='#zqnma17')
          // ===================== End of Last News ========================