#about.about-block
  .container
    .row.align-items-center.animatedParent
      .offset-md-1.col-md-3.about-title.animated.bounceInLeft.delay-250
        h2.h2-main
          | Professional Adult Organzation
          br
          | 项目简介
      .offset-md-1.col-md-6.about-text.animated.bounceInRight.delay-500
        p 对于日本成人娱乐服务体验，非日本国人寻芳客，最大的问题是日本民族的锁国性。许多海外客人因不了解其文化，经常发生不必要的消费纠纷，所以商家几乎不接待外国人，一般寻芳客需要过仲介安排介绍并支付高额的费用，方有一亲芳泽的机会，然而经常造成跑单、仲介剥削、服务体验不佳的情况。
        p PAO 代币发行公司 Cool panda 在日本拥有合法的成人娱乐服务营业执照，旗下素人、女优都是公司签约的成员。透過PAO幣與其生態圈的結合，將建造一個安全、隱匿、便捷的歡娛平台。並致力成為成人娛樂產業的龍頭。
