#utility.container.utility.animatedParent
  .row.justify-content-center
    .col-md-6
      .text-head.text-center
        h5 Professional Adult Organzation
        h2.h2-main PAO 代币的应用
        p PAO代幣主要應用場景分別為線下實體感受體驗，以及線上虛擬互動體驗，,細項內容服務持續不斷擴增，以帶來更多更新的迷人歡娛體驗
  .row
    .offset-lg-1.col-12.col-lg-5.col-md-6.animated.bounceInLeft.delay-250.utility-item-wrapper
      a.utility-item.utility-online.text-center(href='#', data-toggle='modal', data-target='#offlineModal')
        .container
          .row
            .col-12.align-self-start
              h4 线下娱乐
              p 多元的线下娱乐，满足您内心的4望，从餐厅,酒店,风俗店,soapland，到女优时间消费,观摩成人片厂，甚至完成一部属于自己的成人影片,以及包套行程，只要您想的到的，我们都尽全力客制予您，奉上最愉悦的体验。
            .col-12.align-self-end.justify-content-center
              .white-brd-btn 探索完整服务

    .col-12.col-lg-5.col-md-6.animated.bounceInRight.delay-500.utility-item-wrapper
      a.utility-item.utility-offline.text-center(href='#', data-toggle='modal', data-target='#onlineModal')
        .container
          .row
            .col-12.align-self-start
              h4 线上娱乐
              p PAO除了线下实际体验外，线上也有丰富的使用场景，主要包含电商平台，提供多样商品；直播娱乐平台，除一般直播，更提供一对一私密直接互动直播；以及社群娱乐平台，让用户透过社群分享本身的情色幻想、娱乐经验，增加用户黏着度。
            .col-12.align-self-end.justify-content-center
              .white-brd-btn 探索完整服务

#offlineModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='offlineModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h3#offlineModalLabel.modal-title Cool panda 提供之线下娱乐
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        ul
          li
            img(src='assets/img/offline-01.png')
            div
              h5 泡泡浴全身按摩服务
              p 被誉为风俗店的王者，Cool panda 所提供的高档浴场，使用户可以真正体验日本国人专属的特权，伺浴者运用传统特殊技艺，让用户感受到其的体温，使之身心灵之舒压解放服务。
          li
            img(src='assets/img/offline-02.png')
            div
              h5 日本成人娱乐店体验
              p 日本成人娱乐店，用户可以真正体验日本姑娘温柔如水、体贴入微的一面，在店内陪您聊天互动，并运用高超技艺放松您的全身，帮助您找到解放之管道。
          li
            img(src='assets/img/offline-03.png')
            div
              h5 女优钟点消费
              p 想和每天在视频中陪伴妳度过寂寞时光的幻想女性有实际的互动嘛？邀她一同陪你去景点旅游、品尝美食或是一起泡温泉感受真实的体温吧。
          li
            img(src='assets/img/offline-04.png')
            div
              h5 片厂实地体验感受
              p 日本成人影视世界闻名，让 Cool panda 带您深入拍摄现场，体验严谨的民族拍摄过程的用心与专业，实际观摩成人影片之拍摄现场，感受临场的冲击感。
          li
            img(src='assets/img/offline-05.png')
            div
              h5 参与成人影片拍摄
              p 进入成人影片中，并成为其中一成员，从选择自己喜欢的女优，制作自己幻想的脚本，最后编制整部成人作品，深入其境的完整体验，大大满足您的内心渴望，并成为您一生中的重大历程碑。当然视频是属于用户专属的。
          li
            img(src='assets/img/offline-06.png')
            div
              h5 高档酒店放松休息
              p 高级酒店提供消费者享用完一切行程后，拥有舒适高级的住所，好好放松预备隔天的体力。
          li
            img(src='assets/img/offline-07.png')
            div
              h5 极品美食乡宴
              p 享受体验之于，美食的喂养也是不可或缺的，这也是我们非常重视的一块，更提供兼顾了视觉、触觉，味觉的特有饮食文化。
          li
            img(src='assets/img/offline-08.png')
            div
              h5 高档次商务观光包套行程
              p 用户若与客户或友人一同前行日本考察或观光行程，从抵达日本国门起，Cool panda 提供专业服务，行的方便、住的舒适、吃的佳肴、享乐无极限。Cool panda 将每位用户给予最 VIP 级的行程，舒适、安全与便捷，实现旅商务旅游行程的无限可能。让您与客户或友人有一趟魂牵梦萦的回忆，进而拉近彼此感情。




        //- .container-fluid
        //-   .row
        //-     .col-md-4
        //-       | 123
        //-     .col-md-4.ml-auto
        //-       | 456
      .modal-footer
        button.see-brd-btn.btn-block(type='button', data-dismiss='modal') 关闭

#onlineModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='onlineModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h3#onlineModalLabel.modal-title Cool panda 提供之线上娱乐
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        h4 电商平台
        p 电商平台，提供多样商品； VR 成人影片、高画质观成人影片、女优签名商品、成人欢愉工具、原味贴身衣物、成人艺术文学
        ul
          li
            img(src='assets/img/online-01.png')
            div
              h5 VR 影片观赏零距离
              p VR 新技术带来如同临场新体验，Cool panda 公司利用 VR 技术拍摄成人影片，给予用户身历其境，前所未有的临场感。
          li
            img(src='assets/img/online-02.png')
            div
              h5 成人影片高畫質觀賞
              p Cool panda 提供 HD 4K 高画质视频，并提供超高流量技术，解决当前成人频道流量不稳、播放画质不清、恶意病毒、推广广告过多问题，并全面支持版权。
          li
            img(src='assets/img/online-03.png')
            div
              h5 女优签名商品
              p AV女优在消费者心中，地位是莫大的，用户可支持并收藏自己喜爱的女优商品，并能与同好彼此交流，成为生活不可少的休闲活动，并具一定收藏价值。
          li
            img(src='assets/img/online-04.png')
            div
              h5 成人欢愉工具购买
              p 成人玩具不仅是自我满足，更是在享受鱼水之欢时，用来刺激性欲，感受不同一般性体验的产品，享受并提高性生活品质。
          li
            img(src='assets/img/online-05.png')
            div
              h5 贴身衣物原味奉上
              p Cool panda AV 经纪合约及配合之女优多达上百位，用户可选择自己喜爱的女优，购买原味贴身物品，随即真空保存，并附上亲笔签名，致力于满足消费者之身心欲望。
          li
            img(src='assets/img/online-06.png')
            div
              h5 成人文学、艺术
              p 借由文字及漫画的方式启发读者的想像力，让画面在脑海中呈现。借着肢体语言和眼神捕捉女优动人的瞬间及身材曲线，性感诱人的摄影作品，能吸引用户的目光并产生更美好的遐想。

        h3 直播娱乐平台
        p 直播娱乐平台，提供远端一对一直播、远端互动直播、直播支持打赏
        ul
          li
            img(src='assets/img/online-07.png')
            div
              h5 远端一对一直播
              p Cool panda 更加强VR应用，透过其高新技术，用户与内心渴望的女主播一对一亲密互动，让用户深刻体验沉浸现场感，彻底颠覆传统直播的方式。
          li
            img(src='assets/img/online-08.png')
            div
              h5 远端互动直播
              p Cool panda 计划利用VR技术，跳脱出传统平面视频框架，发展远端女优线上VR直播成人服务，呈现前所未有的视觉盛宴。
          li
            img(src='assets/img/online-09.png')
            div
              h5 直播支持打赏
              p 用户透过 PAO 可以直接给予并支持自己喜爱的主播们，经由直接的打赏，直播主也对用户留下深刻的印象。

        h3 娱乐社群平台
        p 电商平台，提供多样化自发讨论群组、创作-赞赏-回报机制
        ul
          li
            img(src='assets/img/online-10.png')
            div
              h5 多样化自发讨论群组
              p 举凡成人娱乐各种议题，都乐意在此公开讨论，比方实际体验线下 Cool Panda 成人娱乐感想，透过电商平台购买产品的使用心得分享，甚至是对于直播主的看法，百无禁忌地尽情讨论。
          li
            img(src='assets/img/online-11.png')
            div
              h5 创作-赞赏-回报机制
              p 不同于一般讨论群，发文者，奉献出热情后，得到的只是按赞数的虚荣，透过 PAO 代币，我们设计了创作 – 赞赏 -回报机制，用户要按赞，相当于直播打赏的概念，需要有 PAO币，按赞的同时，创作者，可以得到支持者实体的认同。

      .modal-footer
        button.see-brd-btn.btn-block(type='button', data-dismiss='modal') 关闭















