#advantage.advantage
  .container
    .row
      .col-xl-5.col-lg-4.col-md-2.col-12 &nbsp;
      .col-xl-7.col-lg-8.col-md-10.col-12
        .text-head
          h5 Professional Adult Organzation
          h2.h2-main PAO 的项目优势
        ul.list-unstyled.animatedParent
          li.d-flex.align-items-center.animated.bounceInRight.delay-250
            img(src='assets/img/icon-advantage-01.svg', alt='icon-advantage')
            .content
              h5 实际项目运行
              p 多数代币首次公开发行项目皆空泛且过度理想化
              a.see-brd-btn(href='#', data-toggle='modal', data-target='#advantageModal') 探索 Cool panda 现有平台
          li.d-flex.align-items-center.animated.bounceInRight.delay-500
            img(src='assets/img/icon-advantage-02.svg', alt='icon-advantage')
            .content
              h5 实体服务
              p Cool panda 驻足产业已久，营运和服务内容都行之有年，旗下的签约女优与影片存量也具有规模量体
          li.d-flex.align-items-center.animated.bounceInRight.delay-750
            img(src='assets/img/icon-advantage-03.svg', alt='icon-advantage')
            .content
              h5 高度隐密
              p 消费者于成人娱乐多不希望产生付款交易纪录，本项目利用区块炼技术，提供高隐闭性之匿名支付方法
          li.d-flex.align-items-center.animated.bounceInRight.delay-1000
            img(src='assets/img/icon-advantage-04.svg', alt='icon-advantage')
            .content
              h5 成熟商业模式
              p 对于成人娱乐产业的项目、内容交易各种商业模式非常了解，整体生态的交易分润盈利模式也十分清晰
          li.d-flex.align-items-center.animated.bounceInRight.delay-1250
            img(src='assets/img/icon-advantage-05.svg', alt='icon-advantage')
            .content
              h5 全球支付服务
              p 块链上的交易是匿名的。交易内容不需透过银行、PayPal 等支付服务而被记录

#advantageModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='advantageModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5#advantageModalLabel.modal-title Cool panda 现有线上平台
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        img(src='assets/img/advantage-01.png')

