#ico.ico
  .container.animatedParent
    .row.justify-content-center
      .col-md-6
        .text-head.text-center
          h5 Professional Adult Organzation
          h2.h2-main 代币销售信息
    .row
      .offset-md-1.col-12.col-md-5.media-screen.animated.bounceInLeft.delay-250
        .ico-item
          h4 发行信息
          h5 代币
          dl.list
            .flex
              dt 代币代码：
              dd PAO
            .flex
              dt 代币总数：
              dd 250,000,000枚 永不增发(2.5亿枚)
            .flex
              dt 代币价值：
              dd 150,000,000枚(占总量60%)
            .flex
              dt 主要销售规模：
              dd 1 ETH = 1,0000 PAO
            .flex
              dt 首轮发售规模：
              dd 150,000,000枚 (占总量60%)(公开发售+私募预售)
      .col-12.col-md-5.media-text.animated.bounceInRight.delay-500
        .ico-item
          h4 销售信息
          h5 私募
          dl.list
            .flex
              dt 预售开始：
              dd 2018年5月20日 (UTC) 08:00
            .flex
              dt 预售结束：
              dd 2018年5月25日 (UTC) 07:59
            .flex
              dt 私募锁定期：
              dd 天
            .flex
              dt 参与方法：
              dd 仅限邀请
          h5 公募
          dl.list
            .flex
              dt 预售开始：
              dd 2018年5月27日 (UTC) 08:00
            .flex
              dt 预售结束：
              dd 2018年6月15日 (UTC) 07:59
            .flex
              dt 私募锁定期：
              dd 天
            .flex
              dt 参与方法：
              dd Cobinhood 交易所、Joeso 交易所
    #buy.row.exchange-box
      .offset-md-1.col-12.col-md-5.media-screen.animated.bounceInLeft.delay-500
        a.exchange(href='https://cobinhood.com/home')
          img(src='assets/img/logo-cobinhood.png')
      .col-12.col-md-5.media-text.animated.bounceInRight.delay-750
        a.exchange(href='https://joyso.io')
          img(src='assets/img/logo-joyso.png')
