#media.media-block
  .container.media.animatedParent
    .row
      .col-lg-6.col-md-12.media-screen.animated.bounceInLeft.delay-250
        img(src='assets/img/browserframe.png', alt='images')
      .col-lg-6.col-md-12.media-text.animated.bounceInRight.delay-500
        .container
          .row
            .col-12.align-self-start
              h2.h2-main 影片的标题
              p 影片的说明文字, 更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多更多
              a.see-brd-btn(href='#') 播放
            .col-12.media-auther.align-self-end
              .container
                .row
                  .col-3.col-lg-2
                    .avart
                  .col-9.col-lg-10
                    .text
                      h6 影片作者
                      p 介绍或说明或引言.介绍或说明或引言.介绍或说明或引言.介绍或说明或引言.介绍或说明或引言.
