#whitepaper.download-block.animatedParent
  .container
    .row
      .col-xl-12.text-center.animated.growIn
        .icon
          img(src='assets/img/icon-wirepaper.svg', alt='icon-wirepaper')
        h2.h2-main 白皮书
        p 您可以查看我们的白皮书，完整了解 PAO 项目
        a.see-brd-btn(href='#') 白皮书下载
