.container.animatedParent
  .row.reasons-block
    .col-xl-4.col-lg-4.col-12.animated.bounceInLeft.delay-250
      h2.h2-main A few reasons why we might be  the right fet
    .col-xl-8.col-lg-8.col-12
      .row
        .col-sm-6.animated.bounceInRight.delay-250
          // ===================== Reason Block Cont ========================
          .reason-block-cont
            .reasons-icon-div
              img(src='assets/img/reason-icon1.svg', alt='images')
            .reasons-desc-div
              h4 Money is in your bank  account in 2 hours
              p Lorem ipsum dolor sit amet,  consectetur adipiscing elit.
          // ===================== End of Reason Block Cont ========================
        .col-sm-6.animated.bounceInRight.delay-250
          // ===================== Reason Block Cont ========================
          .reason-block-cont
            .reasons-icon-div
              img(src='assets/img/reason-icon2.svg', alt='images')
            .reasons-desc-div
              h4
                br
              p Lorem ipsum dolor sit amet,  consectetur adipiscing elit.
          // ===================== End of Reason Block Cont ========================
        .col-sm-6.animated.bounceInRight.delay-500
          // ===================== Reason Block Cont ========================
          .reason-block-cont
            .reasons-icon-div
              img(src='assets/img/reason-icon3.svg', alt='images')
            .reasons-desc-div
              h4 Money is in your bank account in 2 hours
              p Lorem ipsum dolor sit amet,  consectetur adipiscing elit.
          // ===================== End of Reason Block Cont ========================
        .col-sm-6.animated.bounceInRight.delay-500
          // ===================== Reason Block Cont ========================
          .reason-block-cont
            .reasons-icon-div
              img(src='assets/img/reason-icon4.svg', alt='images')
            .reasons-desc-div
              h4
                br
              p Lorem ipsum dolor sit amet,  consectetur adipiscing elit.
          // ===================== End of Reason Block Cont ========================