.timeline
  h4 2018
  .timeline-block
    .timeline-bullet
    .timeline-content
      span.date Q3
      h5 业务扩充
      p 基于现有的线上直播、线下风俗店的业务，加强投入资源扩充服务，例如增设线上直播摄影棚，增加AV成人直播时间、成立大坂分公司开拓关西地区市场、成立专属VIP Lounge，提供风俗店之外的娱乐场所
  .timeline-block
    .timeline-bullet
    .timeline-content
      span.date Q4
      h5  针对不同语系客群提供服务
      p 基于现有的线上直播、线下风俗店的业务，加强投入资源扩充服务，例如增设线上直播摄影棚，增加AV成人直播时间、成立大坂分公司开拓关西地区市场、成立专属VIP Lounge，提供风俗店之外的娱乐场所
  h4 2019
  .timeline-block
    .timeline-bullet
    .timeline-content
      span.date Q1
      h5 自有偶像经纪公司成立
      p Cool Panda 体系原已有AV女优经纪公司产出成人市场优质内容，为扩展全方位的娱乐内容，将成立专属偶像经纪公司，培养偶像艺人掌握偶像IP，对于后续营运、宣传、业务开发更有弹性，成为娱乐业的高度专业品牌，PAO币用途亦更广泛
  .timeline-block
    .timeline-bullet
    .timeline-content
      span.date Q2
      h5  线上真人游戏互动
      p 扩充线上直播的互动性，加入一对一女优直播、线上游戏、情趣用品整合等互动等元素，并将该系统模组化，带给用户更丰富的线上体验，并利于相关业务开拓，让各行业客户如游戏业、广告业，无需烦恼内容、技术问题，简易的即可导入直播互动系统
  .timeline-block
    .timeline-bullet
    .timeline-content
      span.date Q3
      h5  币合作业务扩展
      p 因应2020年东京奥运带来的大量人潮，本身除持续开拓日本各地分公司外，亦加强其他非成人产业的业务合作，让PAO在日本市场通用化，举凡住宿、交通、餐饮等皆可使用PAO币支付消费
  .timeline-block
    .timeline-bullet
    .timeline-content
      span.date Q4
      h5 海外据点扩展
      p 将事业体线上、线下业务拓展至海外，在合法的前提下扩展海外据点，提供用户日本之外的成人服务，将PAO币使用范围推广至全球
