#team.our-team
  .container
    .row
      .col-xl-12
        .row
          .col-12.text-center
            .text
              h4 Team
              h2.h2-main Meett our team
        .grid.masonry
          .grid-item.grid-item-width2
            .images
              img(src='assets/img/avart-01.png', alt='team')
              h5 谢仲彦
              span 管理
          .grid-item.grid-item-width2.text-right
            .images
              img(src='assets/img/avart-02.png', alt='team')
              h5 鈴木良彦
              span 管理
          .grid-item.grid-item-width2.text-right
            .images160
              img(src='assets/img/avart-03.png', alt='team')
              h5 林楷为
              span 技术
          .grid-item.grid-item-width2.text-xl-center.text-sm-center
            .images160
              img(src='assets/img/avart-04.png', alt='team')
              h5 季和
              span 运营
          .grid-item.grid-item-width2.text-center
            .images160
              img(src='assets/img/avart-05.png', alt='team')
              h5 东尼大木
              span 顾问
          .grid-item.grid-item-width2.text-left
            .images160
              img(src='assets/img/avart-06.png', alt='team')
              h5 蜜丽娅
              span 顾问
