
.container.team-slider-text
  .row
    .col-xl-12
      .text-head.text-center
        h5 Team
        h2.h2-main More like a family
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      // text-head
.team-slider.animatedParent
  .item.animated.bounceInRight.delay-250
    img(src='assets/img/team-slider.png', alt='team-slider')
    .info-team
      h5 Anna Gross
      span Project Manager
      .line
        | &nbsp;
      p
      a(href='#')
        svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 510 510', style='enable-background:new 0 0 510 510;', xml:space='preserve')
          g
            g#post-linkedin
              path(d='M510,0H0c0,0,0,23,0,51v408c0,28,0,51,0,51h510c0,0,0-23,0-51V51C510,23,510,0,510,0zM153,433.5H76.5V204H153V433.5zM114.8,160.6c-25.5,0-45.9-20.4-45.9-45.9s20.4-45.9,45.9-45.9s45.9,20.4,45.9,45.9S140.2,160.6,114.8,160.6z M433.5,433.5H357V298.4c0-20.4-17.9-38.2-38.2-38.2s-38.2,17.9-38.2,38.2v135.1H204V204h76.5v30.6c12.8-20.4,40.8-35.7,63.8-35.7c48.5,0,89.2,40.8,89.2,89.3V433.5z')
  .item.animated.bounceInRight.delay-500
    img(src='assets/img/team-slider.png', alt='team-slider')
    .info-team
      h5 Mariya Norman
      span Sales Manager
      .line
        | &nbsp;
      p
      a(href='#')
        svg#Capa_15(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 510 510', style='enable-background:new 0 0 510 510;', xml:space='preserve')
          g
            g#post-linkedin1
              path(d='M510,0H0c0,0,0,23,0,51v408c0,28,0,51,0,51h510c0,0,0-23,0-51V51C510,23,510,0,510,0zM153,433.5H76.5V204H153V433.5zM114.8,160.6c-25.5,0-45.9-20.4-45.9-45.9s20.4-45.9,45.9-45.9s45.9,20.4,45.9,45.9S140.2,160.6,114.8,160.6z M433.5,433.5H357V298.4c0-20.4-17.9-38.2-38.2-38.2s-38.2,17.9-38.2,38.2v135.1H204V204h76.5v30.6c12.8-20.4,40.8-35.7,63.8-35.7c48.5,0,89.2,40.8,89.2,89.3V433.5z')
  .item.animated.bounceInRight.delay-750
    img(src='assets/img/team-slider.png', alt='team-slider')
    .info-team
      h5 Sem Smith
      span Director Business Development
      .line
        | &nbsp;
      p
      a(href='#')
        svg#Capa_14(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 510 510', style='enable-background:new 0 0 510 510;', xml:space='preserve')
          g
            g#post-linkedin5
              path(d='M510,0H0c0,0,0,23,0,51v408c0,28,0,51,0,51h510c0,0,0-23,0-51V51C510,23,510,0,510,0zM153,433.5H76.5V204H153V433.5zM114.8,160.6c-25.5,0-45.9-20.4-45.9-45.9s20.4-45.9,45.9-45.9s45.9,20.4,45.9,45.9S140.2,160.6,114.8,160.6z M433.5,433.5H357V298.4c0-20.4-17.9-38.2-38.2-38.2s-38.2,17.9-38.2,38.2v135.1H204V204h76.5v30.6c12.8-20.4,40.8-35.7,63.8-35.7c48.5,0,89.2,40.8,89.2,89.3V433.5z')
  .item.animated.bounceInRight.delay-1000
    img(src='assets/img/team-slider.png', alt='team-slider')
    .info-team
      h5 Rita Marvel
      span Graphic Designer
      .line
        | &nbsp;
      p
      a(href='#')
        svg#Capa_13(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 510 510', style='enable-background:new 0 0 510 510;', xml:space='preserve')
          g
            g#post-linkedin4
              path(d='M510,0H0c0,0,0,23,0,51v408c0,28,0,51,0,51h510c0,0,0-23,0-51V51C510,23,510,0,510,0zM153,433.5H76.5V204H153V433.5zM114.8,160.6c-25.5,0-45.9-20.4-45.9-45.9s20.4-45.9,45.9-45.9s45.9,20.4,45.9,45.9S140.2,160.6,114.8,160.6z M433.5,433.5H357V298.4c0-20.4-17.9-38.2-38.2-38.2s-38.2,17.9-38.2,38.2v135.1H204V204h76.5v30.6c12.8-20.4,40.8-35.7,63.8-35.7c48.5,0,89.2,40.8,89.2,89.3V433.5z')
  .item.animated.bounceInRight.delay-1250
    img(src='assets/img/team-slider.png', alt='team-slider')
    .info-team
      h5 Sem Smith
      span Director Business Development
      .line
        | &nbsp;
      p
      a(href='#')
        svg#Capa_12(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 510 510', style='enable-background:new 0 0 510 510;', xml:space='preserve')
          g
            g#post-linkedin3
              path(d='M510,0H0c0,0,0,23,0,51v408c0,28,0,51,0,51h510c0,0,0-23,0-51V51C510,23,510,0,510,0zM153,433.5H76.5V204H153V433.5zM114.8,160.6c-25.5,0-45.9-20.4-45.9-45.9s20.4-45.9,45.9-45.9s45.9,20.4,45.9,45.9S140.2,160.6,114.8,160.6z M433.5,433.5H357V298.4c0-20.4-17.9-38.2-38.2-38.2s-38.2,17.9-38.2,38.2v135.1H204V204h76.5v30.6c12.8-20.4,40.8-35.7,63.8-35.7c48.5,0,89.2,40.8,89.2,89.3V433.5z')
