.reviews-wrapper.animatedParent
  .container
    .row
      .reviews-item.col-xl-4.col-md-4.col-sm-12.animated.bounceInLeft.delay-250
        .reviews-inside
          .reviews-img-wrap
            img(src='assets/img/review-img1.png', alt='images')
          h4 Lora Michel
          p.text-uppercase Patel Psych
          p.review-text
      .reviews-item.col-xl-4.col-md-4.col-sm-12.animated.bounceInLeft.delay-500
        .reviews-inside
          .reviews-img-wrap
            img(src='assets/img/review-img1.png', alt='images')
          h4 Nina Rich
          p.text-uppercase Panax Pharma
          p.review-text
      .reviews-item.col-xl-4.col-md-4.col-sm-12.animated.bounceInLeft.delay-750
        .reviews-inside
          .reviews-img-wrap
            img(src='assets/img/review-img1.png', alt='images')
          h4 Robert Patinson
          p HoolaHire
          p.review-text