#roadmap.roadmap
  .container
    .row
      .col-xl-12
        .text-head.text-center
          h2.h2-main  发展路径
          p 发展路径区块内容，团队区块内容，团队区块内容，团队区块内容，团队区块内容，团队区块内容
        //- .nav-center
          //- ul#schedule-tabs.nav.justify-content-center.nav-pills(role='tablist')
          //-   li.nav-item(role='presentation')
          //-     a.nav-link.active(href='#year2018', aria-controls='year2018', role='tab', data-toggle='tab') 2018
          //-   li.nav-item(role='presentation')
          //-     a.nav-link(href='#year2019', aria-controls='year2019', role='tab', data-toggle='tab') 2019
    .row
      .col-lg-12
    include section-roadmap-timeline-01


